.chat_side
  .chat_side__header
    .chat_side__header__user-name
      .chat_side__header__user-name__top-items
        .chat_side__header__user-name__top-items__name
          = current_user.name 
        .chat_side__header__user-name__top-items__icons
          =link_to "###", class: "chat_side__header__user-name__top-items__icons__btn-edit" do
            = icon('fas', 'edit', class: "chat_side__header__user-name__top-items__icons__btn-edit")
          =link_to "###", class: "chat_side__header__user-name__top-items__icons__btn-cog" do
            = icon('fas', 'cog', class: "chat_side__header__user-name__top-items__icons__btn-cog") 
            
  .chat_side__contents
    .chat_side__contents__group-list
      .chat_side__contents__group-list__brock
        .chat_side__contents__group-list__brock__name 
        .chat_side__contents__group-list__brock__message まだメッセージありません
